@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: relative;;
  z-index: 2;
  position: sticky;
  display: flex;
  width: 100%;
  padding: 0 100px;
}

header .logo{
  display: flex;
  max-width: 80px;
  max-height: 70px;
}

@media (max-width: 1060px){
  header{
    padding: 15px 20px;
  }

  header.sticky{
    padding: 10px 20px;
  }
}

section{
  padding: 20px 100px;
}

.section-home{
  min-height: 100vh;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}

.section-home h2{
  color: white;
  font-size: 40px;
  font-weight: normal;
  text-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  opacity: 100%;
}

.section-two{
  min-height: 100vh;
  background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

.section-two h2{
  color: beige;
  font-size: 3em;
  font-weight: 700;
  margin: 30px 0;
}

.section-two p{
  font-size: 1em;
  margin: 30px 0;
}

.section-two a{
  text-decoration: none;
}

.section-two .image{
  display: block;
  position: relative;
  padding: 2rem;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
}

/*caption top left on image*/
.section-two .image .caption{
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 80%;
  font-style: italic;
  line-height: 14px;
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: orange;
  display: inline;
  color: navy;
  border-radius: 70%;
}

.section-two table{
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}

td {
  border: 2px solid #dddddd;
  padding: 8px;
}

/*Aligning h3 text to center using the flexbox */
.section-two h3 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

/*Footer */
.footer {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  background-color: #808080;
  color: #fff;
}

.footer .copyright {
  border-right: 2px solid black;
  margin: 0em 0.6em 0em 0em;;
  padding: 0em 0.6em 0em 0em;
}
