/*Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bs-body-font-family: 'Poppins', sans-serif;
}

html {scroll-behavior: smooth;}

body {
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(45deg, #20b826b5, #2da8cd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(45deg, #20b826b5, #2da8cd);
}

/*Style the header */
.header{
  z-index: 2;
  position: absolute;
  background: none;
  top: 0;
  left: 0;
  padding: 1 100%;
}

.header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}

.header .logo{
  width: fit-content;
  padding: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  width: auto;
  height: 50px;
  max-width: 250px;
  max-height: 70px;
}

/*Section - Welcome */
.section-main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 1400px) {
  .hero__heading {
    font-size: 3.2rem;
  }
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: 1;
}

hero__content {
  z-index: 1;
}

/*
.byline {
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
}

.media .img {
  display: flex;
  align-items: center;
  justify-content: center;
 }
*/


